[2019-09-08 23:23] FultonBrowne opened #40 "Card error"
**Describe the bug**
Card shadows or not appearing and images not cropping to cards

**To Reproduce**
Steps to reproduce the behavior:
open the app and look at any list with a card
**Expected behavior**
card shadows should appear and images should crop to cards

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 -

[2019-09-09 13:42] weekly-digest[bot] opened #41 "Weekly Digest (2 September, 2019 - 9 September, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #40 [Card error](https://github.com/FultonBrowne/Ara-android/issues/40), by [FultonBrowne](https://github.com/FultonBrowne)

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated

[2019-09-12 21:59] FultonBrowne commented on #40
I redesigned and I will eliminate picture in card for this release

[2019-09-15 08:10] weekly-digest[bot] opened #42 "Weekly Digest (8 September, 2019 - 15 September, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #40 [Card error](https://github.com/FultonBrowne/Ara-android/issues/40), by [FultonBrowne](https://github.com/FultonBrowne)
## NOISY ISSUE
:speaker: #40 [Card error](https://github.com/FultonBrowne/Ara

[2019-09-15 20:59] #42 closed

[2019-09-22 08:10] weekly-digest[bot] opened #43 "Weekly Digest (15 September, 2019 - 22 September, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were 6 commits.
:hammer_and_wrench: [fixing bg](https://github.com/FultonBrowne/Ara-android/commit/6054c71670ff6714411c5d

[2019-09-23 13:14] #41 closed

[2019-09-23 13:14] #43 closed

[2019-09-29 07:35] weekly-digest[bot] opened #58 "Weekly Digest (22 September, 2019 - 29 September, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 14 issues were created.
Of these, 7 issues have been closed and 7 issues are still open.
## OPEN ISSUES
:green_heart: #56 [Bump materialdrawer from 7.0.0-alpha4i to 7.0.0-rc07](https://github.com/FultonBrowne/Ara-android/pull/56), by [dependabot-preview[bot]](https

[2019-09-30 14:50] FultonBrowne opened #59 "Full voice support"
We need to implement a system to receive voice inputs as described [here](https://dev.to/fultonbrowne/suggestions-for-an-ai-concept-1f6h), we already have a system in place to read tflite voice models so little modification is needed to the app itself. (note it does read the sample tflite voice model)

[2019-09-30 19:49] #58 closed

[2019-09-30 19:51] FultonBrowne opened #60 "settings page"
get the settings page in working order. and add setting for theme, notifications, hey ara support, and account settings.

[2019-10-01 15:03] alistairholmes commented on #60
Hi there:wave: Would you like some assistance with your settings page? Not exactly sure what you mean by getting it in working order.

[2019-10-01 15:10] FultonBrowne commented on #60
Well everything is static and the theming is in disarray.

[2019-10-01 17:22] FultonBrowne commented on #60
In the settings there are several settings we are looking at:
* themes, use the android 10 theme thing to switch between dark and light mode
* display name, what  you want ara to call you
* a list of accounts, just a basic list for now
* notifications on or off, I will be adding some notification functionality this week

[2019-10-02 14:20] FultonBrowne commented on #60
The theming is about done, thank you @snufflesrea!

[2019-10-03 21:53] #60 closed

[2019-10-03 22:56] FultonBrowne opened #64 "Grid view on certian width"
This could be nice for folding devices, external displays, and tablets. when the screen hits a certain width, change the layout manager in the recycle view (MainActivity.java) from a linear mode to a grid mode, if a certain width is reached.

[2019-10-05 08:02] mayokunadeniyi commented on #64
Hello, I'll love to work on this

[2019-10-05 16:12] FultonBrowne commented on #64
Thank you @mayokunthefirst !

[2019-10-05 16:12] #64 closed

[2019-10-06 07:35] weekly-digest[bot] opened #68 "Weekly Digest (29 September, 2019 - 6 October, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 9 issues were created.
Of these, 8 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #59 [Full voice support](https://github.com/FultonBrowne/Ara-android/issues/59), by [FultonBrowne](https://github.com/FultonBrowne)
## CLOSED ISSUES

[2019-10-07 23:04] #68 closed

[2019-10-07 23:07] FultonBrowne opened #70 "Move strings to the strings.xml file"
I want to release Ara in several languages, so moving as many strings as we can to the strings.xml file would be great.

[2019-10-08 06:29] NayakNavin commented on #70
i'll do this

[2019-10-08 14:11] FultonBrowne commented on #70
thank you.

[2019-10-08 17:26] #70 closed

[2019-10-09 21:45] FultonBrowne commented on #59
Added text to speech.

[2019-10-09 21:58] FultonBrowne opened #78 "Speed up start up"
Ara's start up is  pretty slow, we could try moving stuff to async task to help improve start time.

[2019-10-10 03:25] alfianyusufabdullah commented on #78
Can i work on this @FultonBrowne ?

[2019-10-10 13:01] FultonBrowne commented on #78
Sure @alfianyusufabdullah anyone can.

[2019-10-11 23:17] FultonBrowne opened #80 "German translation"
I would love a worldwide release, There is English and Spanish, but German would be great too. Also any other language is welcome, so feel free to contribute.

[2019-10-12 06:29] Meeze commented on #80
Hey I would like to help you, can you tell me where the messages/files that I should translate are?

[2019-10-12 11:33] root-ansh commented on #80
I would like to work on this issue

[2019-10-12 15:52] FultonBrowne commented on #80
thank you @root-ansh

[2019-10-12 17:58] Idrinth commented on #80
while @root-ansh did a good job, it*s not quite there yet, something along the lines of 1/3 done. maybe reopen this issue, @FultonBrowne ?

[2019-10-13 07:35] weekly-digest[bot] opened #83 "Weekly Digest (6 October, 2019 - 13 October, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 14 issues were created.
Of these, 13 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #78 [Speed up start up](https://github.com/FultonBrowne/Ara-android/issues/78), by [FultonBrowne](https://github.com/FultonBrowne)
## CLOSED ISSUE

[2019-10-14 13:55] FultonBrowne commented on #59
I am almost done with Voice to text.

[2019-10-14 19:24] FultonBrowne opened #84 "Dutch and French translation"
a international release is very important to me, so the more languages the better.

[2019-10-14 20:37] wouterdedroog commented on #84
I'd be willing to contribute, is it possible to start translating?

[2019-10-14 20:58] FultonBrowne commented on #84
@MrWouterNL, Are you familiar with android app translation?

[2019-10-14 20:59] wouterdedroog commented on #84
Nope, this will be a first, but I'm willing to put in some effort.

[2019-10-14 21:02] FultonBrowne commented on #84
I can create the files to support the translations, what language do you want to do?

[2019-10-14 21:03] wouterdedroog commented on #84
Dutch (nl_NL)

[2019-10-14 21:08] FultonBrowne commented on #84
are you running android studio or intellij?

[2019-10-14 21:09] wouterdedroog commented on #84
Android studio

[2019-10-14 21:17] FultonBrowne commented on #84
Ok, so open up ara in android studio go to the dutch string.xml file, then you will see an option for a translation editor, open that, you will see a dutch row, edit the text in there. note DON'T EDIT THE KEYS
![image](https://user-images.githubusercontent.com/50185337/66783595-1284c000-ee8d-11e9-935d-10eb833f7a4e.png)

[2019-10-16 15:11] wachiranduati commented on #84
ignoring the highlighted Dutch and French title and going with the more languages the better....;) would you mind me adding swahili to the languages?

[2019-10-16 16:28] FultonBrowne commented on #84
@wachiranduati , sure that works.

[2019-10-16 17:41] siddlal commented on #84
Hi @FultonBrowne, If its possible  can I add german to the languages ?

[2019-10-16 17:49] FultonBrowne commented on #84
Yes @siddlal that would be great.

[2019-10-17 02:12] FultonBrowne opened #87 "code quallity to a"
Helps make the code secure, fast, and readable. It a great - easy first issue.
check out the code quality score here:
https://app.codacy.com/manual/FultonBrowne/Ara-android/dashboard

[2019-10-17 15:44] #87 closed

[2019-10-17 16:48] FultonBrowne commented on #80
Thank you @Idrinth, I have reopened the issue.

[2019-10-17 16:49] FultonBrowne opened #91 "Danish traslation"
the more languages the better!

[2019-10-17 22:36] FultonBrowne commented on #59
Finished all voice related things thanks @PhoenixWright for your help.

[2019-10-17 22:36] #59 closed

[2019-10-18 13:44] #91 closed

[2019-10-18 14:03] jhaumont commented on #84
Hello @FultonBrowne, I can work on french translation

[2019-10-18 14:06] FultonBrowne commented on #84
sure @jhaumont that would be great, thanks.

[2019-10-19 00:13] #83 closed

[2019-10-19 00:15] FultonBrowne opened #95 "clean up voicemain.java"
move functions to new files in util folder, just to help keep code neat and readable.

[2019-10-19 14:20] dibyanshuanand commented on #95
I would like to help ... can I start working on it ?

[2019-10-19 14:21] FultonBrowne commented on #95
yes @dibyanshuanand , go ahead. Thanks for contributing!

[2019-10-19 17:29] dibyanshuanand commented on #95
The code changes are leading to additional bugs which I cannot resolve .. so anyone else can take up the issue @FultonBrowne

[2019-10-19 17:35] FultonBrowne commented on #95
Thanks @dibyanshuanand, maybe watch and star the repo get notified about contributing opportunity's

[2019-10-19 17:35] #95 closed

[2019-10-20 10:19] wouterdedroog commented on #84
Is translation of the large_text string necessary? It appears to be a copy pasta for testing purposes.

[2019-10-20 14:15] FultonBrowne commented on #84
its not @MrWouterNL , thanks for asking.

[2019-10-21 13:30] #84 closed

[2019-10-22 15:10] FultonBrowne opened #101 "Create a 3 row android sqlite DB and content provider"
the DB should be called 'skills' and the field should be prefix, action, suffix. also make a basic function to add and read content. after this and one more thing I should be ready for alpha 10, the last alpha.

[2019-10-22 23:37] victormazevedo commented on #101
Hey buddy! I want to help you and contribute in your project but I have one doubt. Do you need a db called 'skills' with 3 fields called 'prefix', 'action', 'suffix'. Is that right?

[2019-10-23 00:40] FultonBrowne commented on #101
yes @victormazevedo  you got it.

[2019-10-23 04:23] indracs7 commented on #101
Can I take this issue?

[2019-10-23 13:10] FultonBrowne commented on #101
yes @indracs97 , thanks.

[2019-10-23 14:13] #80 closed

[2019-10-23 22:46] FultonBrowne commented on #78
I did this

[2019-10-23 22:46] #78 closed

[2019-10-23 23:29] FultonBrowne opened #106 "get rid of black status bar"
![image](https://user-images.githubusercontent.com/50185337/67441565-35f8ea80-f5b2-11e9-93ef-3526c5ff54cf.png)
have the background image continue to the top

[2019-10-24 06:01] harshithpatte commented on #106
I would like to work on it!

[2019-10-24 13:52] FultonBrowne commented on #106
Thanks @harshithpatte

[2019-10-24 19:19] indracs7 commented on #106
Solved this issue
check PR #109

[2019-10-24 19:51] #106 closed

[2019-10-27 08:10] weekly-digest[bot] opened #111 "Weekly Digest (20 October, 2019 - 27 October, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 13 issues were created.
Of these, 12 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #101 [Create a 3 row android sqlite DB and content provider](https://github.com/FultonBrowne/Ara-android/issues/101), by [FultonBrowne](https://gi

[2019-10-28 15:26] #101 closed

[2019-10-28 15:26] FultonBrowne opened #112 "create a content provider"
this will be for the onDeviceSkills DB

[2019-10-31 15:59] FultonBrowne opened #113 "Add a onResume to mainactivity.java"
resume list and list position, this is mainly for folding devices.

[2019-10-31 20:21] hmuhammadazeem commented on #113
Hey, can you elaborate what should onResume perform? I want to work on it.

[2019-10-31 21:06] FultonBrowne commented on #113
well, it needs to keep the list progress and the drawer selection from changing on closing or changing the activity.

[2019-10-31 22:47] hmuhammadazeem commented on #113
Can you specify exactly which list? It would help avoid any confusions.

[2019-11-01 14:29] FultonBrowne opened #114 "stop recording on silence"
this will be found in voice.voicemain.java. while your at it could you add some animations for the voice system?

[2019-11-01 16:26] FultonBrowne opened #115 "update traslation"
all the translations need to be updated

[2019-11-03 09:10] weekly-digest[bot] opened #116 "Weekly Digest (27 October, 2019 - 3 November, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 0 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #115 [update traslation](https://github.com/FultonBrowne/Ara-android/issues/115), by [FultonBrowne](https://github.com/FultonBrowne)
:green_heart: #

[2019-11-10 08:10] weekly-digest[bot] opened #124 "Weekly Digest (3 November, 2019 - 10 November, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 7 issues were created.
Of these, 6 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #121 [Bump gradle from 3.5.1 to 3.5.2](https://github.com/FultonBrowne/Ara-android/pull/121), by [dependabot-preview[bot]](https://github.com/apps/d

[2019-11-10 16:15] FultonBrowne opened #125 "write some tests"
I honestly don't know where to start :)

[2019-11-12 20:27] #115 closed

[2019-11-15 20:48] #114 closed

[2019-11-16 17:51] #116 closed

[2019-11-16 17:51] #124 closed

[2019-11-16 17:51] #111 closed

[2019-11-16 17:54] FultonBrowne opened #131 "add calendar items to the main news feed"
put important events at the top and by dare as you go down in the list.

[2019-11-17 08:10] weekly-digest[bot] opened #132 "Weekly Digest (10 November, 2019 - 17 November, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 7 issues were created.
Of these, 5 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #131 [add calendar items to the main news feed](https://github.com/FultonBrowne/Ara-android/issues/131), by [FultonBrowne](https://github.com/Fulton

[2019-11-24 08:10] weekly-digest[bot] opened #136 "Weekly Digest (17 November, 2019 - 24 November, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 3 issues have been closed and 0 issues are still open.
## CLOSED ISSUES
:heart: #135 [Bump recyclerview from 1.1.0-rc01 to 1.1.0](https://github.com/FultonBrowne/Ara-android/pull/135), by [dependabot-preview[bot]](https://github.com

[2019-11-24 16:34] #112 closed

[2019-11-24 16:34] #125 closed

[2019-11-30 18:42] FultonBrowne opened #138 "Improve the stop on silence"
You can find this in voicemain.kt

[2019-12-01 08:10] weekly-digest[bot] opened #139 "Weekly Digest (24 November, 2019 - 1 December, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #138 [Improve the stop on silence](https://github.com/FultonBrowne/Ara-android/issues/138), by [FultonBrowne](https://github.com/FultonBrowne)
:gree

[2019-12-02 14:48] #132 closed

[2019-12-02 14:48] #139 closed

[2019-12-04 21:23] #131 closed

[2019-12-08 08:10] weekly-digest[bot] opened #147 "Weekly Digest (1 December, 2019 - 8 December, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 7 issues were created.
Of these, 6 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #141 [Bump compose_version from 0.1.0-dev02 to 0.1.0-dev03](https://github.com/FultonBrowne/Ara-android/pull/141), by [dependabot-preview[bot]](http

[2019-12-14 18:03] FultonBrowne commented on #138
hey world, this needs to get done

[2019-12-15 08:10] weekly-digest[bot] opened #148 "Weekly Digest (8 December, 2019 - 15 December, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were 50 commits.
:hammer_and_wrench: [yaml parser done working on correct resume/save](https://github.com/FultonBrowne/Ar

[2019-12-19 15:32] #136 closed

[2019-12-19 15:32] #147 closed

[2019-12-19 15:32] #148 closed

[2019-12-22 08:10] weekly-digest[bot] opened #152 "Weekly Digest (15 December, 2019 - 22 December, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 3 issues have been closed and 0 issues are still open.
## CLOSED ISSUES
:heart: #151 [[ImgBot] Optimize images](https://github.com/FultonBrowne/Ara-android/pull/151), by [imgbot[bot]](https://github.com/apps/imgbot)
:heart: #150 [Bu

[2019-12-23 16:12] #113 closed

[2019-12-23 16:13] FultonBrowne opened #153 "Impove voice UI"
The main graphic needs to adjust speed based on the voice input.

[2019-12-23 17:04] FultonBrowne opened #154 "Increase app performence"
Lets make Ara go all around FASTER, in your pr please note some of the loading time decreases.

[2019-12-26 11:09] airon90 opened #155 "Add to F-Droid"
This app is released under [GPL3+](https://github.com/FultonBrowne/Ara-android/blob/master/LICENSE) so it could be added in [F-Droid](https://f-droid.org) database of FLOSS Android apps. You can see the status of inclusion [here](https://gitlab.com/fdroid/rfp/issues/1181)

[2019-12-26 11:25] licaon-kter commented on #155
Everything can be compiled from source or loaded from a FOSS libs maven repo?

The server can be changed or it is hardcoded?

What license is the server under?

Can I host a server?

[2019-12-26 15:44] FultonBrowne commented on #155
hey @airon90, how would I get started with that?

[2019-12-28 09:30] IzzySoft commented on #155
From a quick glance at the `build.gradle`, I'm afraid the Google Play Location and MS Analytics libraries will be show-stoppers for F-Droid – so this would need a build flavor coming without those. Then there are the questions raised by licaon-kter: for inclusion with F-Droid, it must be entirely FOSS and be covered by a FOSS license (ideally including the server part, though if that's not given i

[2019-12-28 15:20] FultonBrowne commented on #155
@IzzySoft I am pretty sure I can remove google play location, but the analytics is my only way to git info about where translation needs to happen.

[2019-12-28 15:20] FultonBrowne commented on #155
@licaon-kter here is the server
https://github.com/FultonBrowne/Ara-Server

[2019-12-28 16:20] licaon-kter commented on #155
@FultonBrowne

If that is not FOSS then we can't include it in its current state.

Can't you add a button of sorts so users can "Submit request for language" or something? You need all sorts of data about devices (what data do you extract anyway?) instead of a simple "locale" entry?

[2019-12-28 17:20] FultonBrowne commented on #155
@licaon-kter I will see what i can do, the server is hard coded but I have been planning to change that before v1.0. I am pretty sure app center analytics Is open source.

[2019-12-28 17:21] FultonBrowne commented on #155
https://github.com/microsoft/appcenter-sdk-android

[2019-12-28 17:41] licaon-kter commented on #155
@FultonBrowne MIT? Nice.

Are the appcenter libs hosted on [a trusted (by F-Droid)](https://gitlab.com/fdroid/fdroidserver/blob/master/fdroidserver/scanner.py#L99) maven repo? If not we'd need to also build them from source at app build time.

Oh, lest not forget, any keys for that analytics **need** to be included in the public source code.

Now, is this analytics submission an opt-in or opt-out

[2019-12-28 17:48] FultonBrowne commented on #155
@licaon-kter  It is opt-out but I can change that if needed  (note all analytics are totally anonymous even with an ara account) the keys are in the source and it is an a trusted repo https://mvnrepository.com/artifact/com.microsoft.appcenter/appcenter-distribute/2.5.1

[2019-12-28 18:05] FultonBrowne commented on #155
@licaon-kter I switched to opt-in and got rid of all GMS

[2019-12-28 18:37] IzzySoft commented on #155
Could some FOSS analytics package with opt-in be used for that? To name names (without knowing whether the candidate covers that), there's e.g. [ACRA](https://github.com/acra/ACRA) which is accepted by F-Droid. With some reservations, Bugsnag would be OK as well IIRC (provided you made sure it's opt-in – which ACRA is by default).

[2019-12-28 18:50] FultonBrowne commented on #155
@IzzySoft I will look in to it, I like the MS one because I can see cloud and analytics stuff all on one site.

[2019-12-28 20:04] IzzySoft commented on #155
@FultonBrowne thanks! I understand that. But a) us tin-foils mistrust those cloud analytics (especially from the "big offenders" often named "GAFAM" (Google, Amazon, FB, MS) – and, more importantly, b) those services are in most cases proprietary, including their modules, and thus not accepted by F-Droid (not 100% sure if this applies in this case, but I suspect so).

[2019-12-28 20:08] licaon-kter commented on #155
@IzzySoft it's MIT licensed, see the link...might be ok....not sure about its deps though

[2019-12-28 20:14] FultonBrowne commented on #155
@licaon-kter deps??

[2019-12-28 23:06] IzzySoft commented on #155
Dependencies I guess. Will probably require NonFreeNet. Well, Licaon-kter is one of our packagers, he's got deeper knowledge in what stuff might depend on (or will find out at build time).

[2019-12-29 00:38] FultonBrowne commented on #155
got it, thanks @IzzySoft

[2019-12-29 08:10] weekly-digest[bot] opened #156 "Weekly Digest (22 December, 2019 - 29 December, 2019)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 0 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #155 [Add to F-Droid](https://github.com/FultonBrowne/Ara-android/issues/155), by [airon90](https://github.com/airon90)
:green_heart: #154 [Increase

[2019-12-31 01:21] FultonBrowne commented on #155
@IzzySoft  @licaon-kter  any update or questions?

[2019-12-31 11:19] IzzySoft commented on #155
@FultonBrowne the scanner report at the [RFP](https://gitlab.com/fdroid/rfp/issues/1181) still says "error", and a.o. yields

[code]

Did you do anything about those, so we shall trigger a rescan? As pointed out, we don't "include JARs" (everything needs to be built from source) – and we don't accept proprietary components (here: Google Play Services) or allow "unknown maven repos" (especially not

[2019-12-31 15:39] FultonBrowne commented on #155
@IzzySoft I deleted all of those ( i used then in testing like  6 months ago) I think a re-scan would be great.

[2019-12-31 18:04] IzzySoft commented on #155
Thanks! I've triggered the bot, rescan should happen within 24h now.

[2019-12-31 19:25] FultonBrowne commented on #155
thanks @IzzySoft

[2020-01-01 11:24] IzzySoft commented on #155
Scanner results look promising – no more "error", and the 2 warnings we can safely ignore (a font and an image).

Now, to get things rolling, two more questions:

* Would you consider adding [Fastlane file structure](https://gitlab.com/snippets/1895688) to your repo? That way you can provide screenshots and maintain the app description yourself (among other things). You can use the very same struc

[2020-01-01 16:11] FultonBrowne commented on #155
@IzzySoft does the file structure need to be present in the tagged location?

[2020-01-01 18:46] IzzySoft commented on #155
@FultonBrowne Yes. F-Droid will "stick to the tag". That's what I meant by "have a tag covering the Fastlane data".

[2020-01-01 19:06] FultonBrowne commented on #155
@IzzySoft as of now I can't add the fast line data. my next release (coming very soon) will have fastline.

[2020-01-01 21:03] IzzySoft commented on #155
OK, just ping me once it's there then :wink:

[2020-01-05 08:10] weekly-digest[bot] opened #160 "Weekly Digest (29 December, 2019 - 5 January, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 3 issues have been closed and 0 issues are still open.
## CLOSED ISSUES
:heart: #159 [Bump junit from 4.12 to 4.13](https://github.com/FultonBrowne/Ara-android/pull/159), by [dependabot-preview[bot]](https://github.com/apps/dependab

[2020-01-07 21:44] FultonBrowne commented on #155
@IzzySoft sorry I am taking a while, I will most likely be ready in a day or 2

[2020-01-07 22:36] IzzySoft commented on #155
As we use to say: "be patient. Wait at least 2 weeks before asking again". :smile: All fine, you're well in that limit :grin:

[2020-01-08 23:25] FultonBrowne commented on #155
@IzzySoft I am ready to release, what do I need to do?

[2020-01-09 00:59] IzzySoft commented on #155
Please make sure `versionName` in your `build.gradle` matches the tag name. It currently does not (should be `1.0beta5` in gradle to match the tag name).

Fastlane looks good, so all else should be ready to go. I'd update the RFP once this is fixed.

[2020-01-09 01:15] FultonBrowne commented on #155
@IzzySoft  I am pretty sure I fixed it

[2020-01-09 07:19] IzzySoft commented on #155
@FultonBrowne sorry to disappoint you – not [at the most recent tag](https://github.com/FultonBrowne/Ara-android/blob/v1.0beta5/app/build.gradle#L46). You've [attempted it at head](https://github.com/FultonBrowne/Ara-android/blob/master/app/build.gradle#L46), but sneaked in a space.

[2020-01-09 16:06] FultonBrowne commented on #155
ok, I think I fixed it and moved the most recent tag up :)

[2020-01-09 19:07] IzzySoft commented on #155
Nope. The most recent one now has "Beta 5".

[2020-01-09 21:01] FultonBrowne commented on #155
@IzzySoft the tag on tag 1.0beta5 (no v) this is what I am seeing
![Screenshot from 2020-01-09 12-59-33](https://user-images.githubusercontent.com/50185337/72104333-0ff50380-32e0-11ea-8944-5d0290a27762.png)

[2020-01-09 21:15] licaon-kter commented on #155
You need to have a bit of consistency....tag name vs versionName, lower case, uppercase :)

[2020-01-09 21:31] FultonBrowne commented on #155
@IzzySoft  I could wait until the next release ( another week or 2)

[2020-01-09 23:12] IzzySoft commented on #155
@FultonBrowne apologies if I might sound a bit annoyed, but I'm losing track here. What @licaon-kter just mentioned, I've already [told you 9 days ago](https://github.com/FultonBrowne/Ara-android/issues/155#issuecomment-570045465). This is always jumping forwards with one leg and backwards on the other – that way we never reach the goal (and this doubt I have for future tags as well). So again, pl

[2020-01-10 00:37] FultonBrowne commented on #155
I understand @IzzySoft  this is my first project so I am still learning, I appreciate your patients. I will be VERY careful with versioning names and will ping you on the next version.

[2020-01-10 07:28] IzzySoft commented on #155
@FultonBrowne thanks, and no bad feelings. It's just frustrating (for both sides I guess). Keeping my fingers crossed! :crossed_fingers:

[2020-01-12 08:10] weekly-digest[bot] opened #164 "Weekly Digest (5 January, 2020 - 12 January, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 3 issues have been closed and 0 issues are still open.
## CLOSED ISSUES
:heart: #163 [[ImgBot] Optimize images](https://github.com/FultonBrowne/Ara-android/pull/163), by [imgbot[bot]](https://github.com/apps/imgbot)
:heart: #162 [Bu

[2020-01-13 16:04] #152 closed

[2020-01-13 16:04] #156 closed

[2020-01-13 16:04] #160 closed

[2020-01-13 16:04] #164 closed

[2020-01-14 01:33] #154 closed

[2020-01-16 04:25] FultonBrowne opened #165 "change json format"
Hey @PhoenixWright should I go for a /v2/ approach on the server (that would be a TON of work) or.. I have no idea :)

[2020-01-16 04:30] PhoenixWright commented on #165
So you’re basically changing the format of what you’re returning? What exactly is the change? If it’s only new values you don’t need to do a v2.

If it’s a bigger refactor you can also pass in a parameter from the client saying which version you’re asking for rather than have a second /v2 path. AWS actually does this by having the client pass in a date that represents a version of the API.

Plenty

[2020-01-16 04:33] FultonBrowne commented on #165
@PhoenixWright  I am adding one new value but all other versions of the app are decoding directly from the old class using GSON. I was thinking about using params and will most likely do that if all else fails

[2020-01-16 04:36] PhoenixWright commented on #165
GSON can ignore fields somehow, maybe by default. You should test if it breaks for you locally if you add the new one, because you always want to just ignore new fields in the client if you’re not already. You can at least make sure you configure GSON the way you want for all future versions of the app and do whatever you need to do this time.

[2020-01-16 04:56] FultonBrowne commented on #165
Thanks @PhoenixWright I will try that tomorrow 😊

[2020-01-16 18:53] FultonBrowne commented on #165
@PhoenixWright  gson 2 + auto ignores unknown objects, I tested it (on my deployment server) and it worked!

[2020-01-16 19:18] PhoenixWright commented on #165
Nice! That makes things easy.

[2020-01-16 19:41] #165 closed

[2020-01-17 20:42] FultonBrowne commented on #155
@IzzySoft I think we can release now.

[2020-01-17 22:10] IzzySoft commented on #155
Thanks! I've [setup metadata](https://gitlab.com/fdroid/rfp/issues/1181#note_273399828) and tagged the RFP for our packagers. Might take a little; if nothing is happening there within 2 weeks, feel free to ping me again to check.

[2020-01-17 23:01] FultonBrowne commented on #155
thanks @IzzySoft, will do.

[2020-01-18 14:02] airon90 opened #166 "App doesn't load"
I'm using a Wiko View 2 Go phone with Android 8.1 and latest Ara version from Google Play. I load the app, the splash screen is shown but then the app crashes. How can I help you more in detecting what it doesn't work?

[2020-01-19 08:10] weekly-digest[bot] opened #167 "Weekly Digest (12 January, 2020 - 19 January, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 1 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #166 [App doesn't load](https://github.com/FultonBrowne/Ara-android/issues/166), by [airon90](https://github.com/airon90)
## CLOSED ISSUES
:heart: #

[2020-01-19 20:37] FultonBrowne commented on #166
@airon90 can you get the logcat, I know my app works on an s5 with 6.0, on pixles, and oneplus 7pros

[2020-01-20 11:08] airon90 commented on #166
[adb.txt](https://github.com/FultonBrowne/Ara-android/files/4085794/adb.txt)

I never used adb. I hope it could be useful. Tell me more if you need more info! :)

[2020-01-20 15:00] FultonBrowne commented on #166
@airon90 could I see what version of ara your running

[2020-01-20 15:07] FultonBrowne opened #169 "Update translation"
lets do a BIG TIME update to the strings.xml files

[2020-01-20 15:12] FultonBrowne commented on #166
@airon90  try granting ara calendar permissions, the next version will not require it.

[2020-01-21 10:58] airon90 commented on #166
v 1.0beta6 from Google Play Store (waiting for F-Droid one #155) and calendar permission is already given. Even if I delete all data and cache from Ara and set again every permission, nothing changes. [This](https://github.com/FultonBrowne/Ara-android/files/4090696/adb.txt) is the new logcat.

[2020-01-21 15:47] FultonBrowne commented on #166
@airon90 I cant seem to figure it out, I've tried reinstalling the app on my phone and on 2 simulators and it works fine, I will do a deeper investigation

[2020-01-21 21:32] airon90 commented on #166
I succeeded in sending a s.c. feedback, after last crash. I hope it would be more useful

[2020-01-22 14:17] airon90 opened #174 "More to be translated"
Other than the app itself, you should let people translate description and changelog on the store(s). As of now, it seems to be hardcoded in English

[2020-01-22 14:21] airon90 opened #175 "Choose a translation platform"
Even if the app is in beta stage yet, one could prefer to have its app localized. In order to organize the translations properly, I suggest to use a translation platform, e.g. Crowdin or Transifex. Translators will be automatically advised abiut new strings or changed strings, instead of constantly looking for them through the source code and history

[2020-01-22 15:07] #138 closed

[2020-01-22 15:09] FultonBrowne commented on #174
Thanks for the issue @airon90 can you give me any tips for this.

[2020-01-22 15:11] FultonBrowne commented on #166
@airon90 I may have found the issue, it appears to isolated to android 8.1 and will be patched today and there will be an update tomorrow or the day after.

[2020-01-22 19:08] FultonBrowne commented on #175
Thanks @airon90 I just started using crowdin and you should start seeing more translations soon!

[2020-01-22 19:44] FultonBrowne opened #176 "Spread the word"
make a nice post about ara and let the world know!

[2020-01-22 21:36] FultonBrowne commented on #175
I had some issues with the service I chose. reopening now.

[2020-01-24 18:05] FultonBrowne commented on #166
@airon90 it should be fixed

[2020-01-26 08:10] weekly-digest[bot] opened #182 "Weekly Digest (19 January, 2020 - 26 January, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 14 issues were created.
Of these, 10 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #176 [Spread the word](https://github.com/FultonBrowne/Ara-android/issues/176), by [FultonBrowne](https://github.com/FultonBrowne)
:green_heart: #

[2020-01-27 19:48] #167 closed

[2020-01-27 19:48] #182 closed

[2020-01-29 09:30] airon90 commented on #166
It is. Thank you very much!

[2020-01-29 09:30] #166 closed

[2020-01-31 16:21] FultonBrowne commented on #155
Hey @IzzySoft nothings really happened for a while, there has been no activity for 14 days

[2020-02-02 01:39] licaon-kter commented on #155
Umm https://github.com/microsoft/appcenter-sdk-android/blob/master/build.gradle#L26 so the Microsoft lib is under MIT but depends on Google Services which is not-FOSS? And Push on https://github.com/microsoft/appcenter-sdk-android/blob/master/sdk/appcenter-push/build.gradle#L12 Firebase?

Also builds fine but...wow so many links
[code]

I'm afraid this is a no go.

Sorry for the late response.

[2020-02-02 08:10] weekly-digest[bot] opened #184 "Weekly Digest (26 January, 2020 - 2 February, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #183 [Bump compose_version from 0.1.0-dev02 to 0.1.0-dev04](https://github.com/FultonBrowne/Ara-android/pull/183), by [dependabot-preview[bot]](https://github.com/apps/dependabot-preview)

 - - -
# PUL

[2020-02-02 16:09] FultonBrowne commented on #155
@licaon-kter I do heavily rely on the Microsoft stuff, is there anything I can do? I am planning in the far future to replace that with my own stuff but it will be a while, like maybe a year plus.

[2020-02-06 20:44] #175 closed

[2020-02-06 20:45] FultonBrowne opened #192 "some voice recording being cut off"
this will be in the voice package mainly deepspeech.java

[2020-02-09 05:55] weekly-digest[bot] opened #193 "Weekly Digest (2 February, 2020 - 9 February, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 8 issues were created.
Of these, 7 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #192 [some voice recording being cut off](https://github.com/FultonBrowne/Ara-android/issues/192), by [FultonBrowne](https://github.com/FultonBrowne

[2020-02-10 15:40] #184 closed

[2020-02-10 15:40] #193 closed

[2020-02-13 23:44] FultonBrowne opened #195 "Sig 11 on voice start up"
I am getting a sig 11 on fresh installs of Ara. I don't know cpp error codes very well (well I know sig 11s are bad) if you run the vice and view view the stack trace from the adb I would love help decoding it.

[2020-02-14 00:59] FultonBrowne commented on #195
and done

[2020-02-14 00:59] #195 closed

[2020-02-15 01:21] FultonBrowne commented on #192
well it turns out the issue is me ---- talking ---- like ---- this --- . I will work on this later, but it seems like ara expects you to talk normally. soooooooo yeah, cool

[2020-02-15 01:21] #192 closed

[2020-02-16 05:55] weekly-digest[bot] opened #196 "Weekly Digest (9 February, 2020 - 16 February, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 2 issues have been closed and 0 issues are still open.
## CLOSED ISSUES
:heart: #195 [Sig 11 on voice start up](https://github.com/FultonBrowne/Ara-android/issues/195), by [FultonBrowne](https://github.com/FultonBrowne)
:heart: #194

[2020-02-23 05:55] weekly-digest[bot] opened #204 "Weekly Digest (16 February, 2020 - 23 February, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 7 issues were created.
Of these, 7 issues have been closed and 0 issues are still open.
## CLOSED ISSUES
:heart: #203 [Bump material from 1.2.0-alpha04 to 1.2.0-alpha05](https://github.com/FultonBrowne/Ara-android/pull/203), by [dependabot-preview[bot]](https://git

[2020-02-24 16:34] #196 closed

[2020-02-24 16:34] #204 closed

[2020-02-24 16:36] FultonBrowne opened #206 "add search ui testing"
the main activity for ara was a search item in the top action bar (marked as a menu item set to always show in action bar) this is inflated in main activity .java. I would like to use espresso for testing this.

[2020-03-01 04:11] weekly-digest[bot] opened #210 "Weekly Digest (23 February, 2020 - 1 March, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 5 issues were created.
Of these, 3 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #209 [Bump core from 1.0.0 to 1.2.0](https://github.com/FultonBrowne/Ara-android/pull/209), by [dependabot-preview[bot]](https://github.com/apps/dep

[2020-03-07 16:50] FultonBrowne opened #218 "Add search 'tabs'"
Add options to search with Ara, the web, images, videos, and news, also add news categories via a tab system

[2020-03-11 00:26] #218 closed

[2020-03-11 21:43] #210 closed

[2020-03-12 23:02] FultonBrowne opened #221 "add reminders and notes"
Suggestions for a good service/ api would rock. also general ideas would be amazing.

[2020-03-18 23:20] FultonBrowne opened #226 "add home assistant support"

[2020-03-22 22:31] FultonBrowne opened #228 "Ara's on degoogle!"
https://github.com/tycrek/degoogle#mobile-applications-mobile-apps-installable-from-stores and go down to assistant. @PhoenixWright check it out!

[2020-03-22 23:20] FultonBrowne commented on #221
About done

[2020-03-22 23:20] #221 closed

[2020-03-23 08:10] PhoenixWright commented on #228
That’s awesome!!

[2020-03-23 14:22] #228 closed

[2020-03-23 22:52] FultonBrowne commented on #226
this project is underway and i will have it ready at the end of this week

[2020-03-27 21:41] #226 closed

[2020-04-19 10:21] weekly-digest[bot] opened #255 "Weekly Digest (12 April, 2020 - 19 April, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 12 issues were created.
Of these, 3 issues have been closed and 9 issues are still open.
## OPEN ISSUES
:green_heart: #254 [Bump preference from 1.1.0 to 1.1.1](https://github.com/FultonBrowne/Ara-android/pull/254), by [dependabot-preview[bot]](https://github.com/a

[2020-04-20 22:18] FultonBrowne commented on #155
@IzzySoft After working for a little and due to the deprecation of some of the microsoft services I was using, I now have no trackers in my app, this has also resulted in the removal of google services from my app.

[2020-04-21 06:50] IzzySoft commented on #155
Thanks! I've reopened the RFP, adjusted metadata to point to the latest release, and triggered the bot again. Licaon-kter already gave his love to your last comment, so he's aware that things have changed and will hopefully pick up from there again :wink:

[2020-04-21 14:00] FultonBrowne commented on #155
Thanks :]

[2020-04-21 16:29] airon90 commented on #155
@FultonBrowne See [this](https://gitlab.com/fdroid/rfp/issues/1181#note_328073219) report. There is a problem with Gradle

[2020-04-21 16:46] FultonBrowne commented on #155
Thanks @airon90 I'll get right to it

[2020-04-21 21:30] FultonBrowne commented on #155
@IzzySoft I think i fixed the gradle issue thx @airon90 for finding it

[2020-04-21 22:45] IzzySoft commented on #155
That's good for your releases' security, great! What about the other one: is `ara-client` required to build the app? If so, we've got 2 more show-stoppers ther: the two bintray maven repos…

[2020-04-22 13:43] FultonBrowne commented on #155
The binaries are from an early concept of the app, I just forgot they where there, but there gone now.
ara-client is a universal kotlin library I am making for the eventual ara ios app and web site

[2020-04-22 16:44] IzzySoft commented on #155
Implies "gone now" that's also covered by a tag? Then I'd trigger the bot again for a rescan.

[2020-04-22 18:36] FultonBrowne commented on #155
@IzzySoft its not tagged, I am planning a release by the end of this week, so there will be a new tag then (I have a couple of bugs I need to work out)

[2020-04-22 20:55] IzzySoft commented on #155
That's fine! Can you ping me once the tag is there? Thanks!

[2020-04-22 22:34] FultonBrowne commented on #155
will do, thx

[2020-04-25 20:34] FultonBrowne commented on #155
@IzzySoft the release is ready (tag v1.0beta11) 👍

[2020-04-25 23:15] IzzySoft commented on #155
Thanks, bot triggered!

[2020-04-26 10:21] weekly-digest[bot] opened #257 "Weekly Digest (19 April, 2020 - 26 April, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #256 [Bump kotlinx-coroutines-core from 1.3.5 to 1.3.5-native-mt-1.3.71-release-429](https://github.com/FultonBrowne/Ara-android/pull/256), by [dependabot-preview[bot]](https://github.com/apps/depe

[2020-04-26 10:50] IzzySoft commented on #155
Uh, same things again:

[code]

Are those two needed? If so, maybe they are available from one of the [trusted maven repos](https://gitlab.com/fdroid/fdroidserver/blob/master/fdroidserver/scanner.py#L99)? If not, we'd need to build them from source – either as a `srclib` hosted at F-Droid, or as a git sub-module in your repo. With KotlinX being quite central to Kotlin (if I got that right), I'd as

[2020-05-03 10:21] weekly-digest[bot] opened #262 "Weekly Digest (26 April, 2020 - 3 May, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 1 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #261 [Bump ui-tooling from 0.1.0-dev02 to 0.1.0-dev10](https://github.com/FultonBrowne/Ara-android/pull/261), by [dependabot-preview[bot]](https://g

[2020-05-10 10:21] weekly-digest[bot] opened #270 "Weekly Digest (3 May, 2020 - 10 May, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 7 issues were created.
Of these, 6 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #269 [Bump jackson-dataformat-yaml from 2.10.3 to 2.11.0](https://github.com/FultonBrowne/Ara-android/pull/269), by [dependabot-preview[bot]](https:

[2020-05-17 18:44] weekly-digest[bot] opened #278 "Weekly Digest (10 May, 2020 - 17 May, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 7 issues were created.
Of these, 3 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #277 [Bump ui-tooling from 0.1.0-dev10 to 0.1.0-dev11](https://github.com/FultonBrowne/Ara-android/pull/277), by [dependabot-preview[bot]](https://g

[2020-05-20 14:48] #255 closed

[2020-05-20 14:48] #257 closed

[2020-05-20 14:48] #262 closed

[2020-05-20 14:48] #270 closed

[2020-05-20 14:48] #278 closed

[2020-05-31 18:44] weekly-digest[bot] opened #289 "Weekly Digest (24 May, 2020 - 31 May, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 6 issues were created.
Of these, 2 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #287 [Bump ui-layout from 0.1.0-dev10 to 0.1.0-dev12](https://github.com/FultonBrowne/Ara-android/pull/287), by [dependabot-preview[bot]](https://gi

[2020-06-01 02:53] #289 closed

[2020-06-19 16:39] FultonBrowne opened #294 "move the SDK to the new REST api"
I'll get to it

[2020-07-05 03:27] weekly-digest[bot] opened #300 "Weekly Digest (28 June, 2020 - 5 July, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 1 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #299 [Bump materialdrawer from 8.0.3 to 8.1.3](https://github.com/FultonBrowne/Ara-android/pull/299), by [dependabot-preview[bot]](https://github.co

[2020-07-12 03:27] weekly-digest[bot] opened #304 "Weekly Digest (5 July, 2020 - 12 July, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 2 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #303 [Bump jackson-databind from 2.11.0 to 2.11.1](https://github.com/FultonBrowne/Ara-android/pull/303), by [dependabot-preview[bot]](https://githu

[2020-07-19 03:27] weekly-digest[bot] opened #306 "Weekly Digest (12 July, 2020 - 19 July, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #305 [Bump kotlinx-coroutines-core from 1.3.5 to 1.3.8](https://github.com/FultonBrowne/Ara-android/pull/305), by [dependabot-preview[bot]](https://github.com/apps/dependabot-preview)

 - - -
# PUL

[2020-07-26 03:27] weekly-digest[bot] opened #313 "Weekly Digest (19 July, 2020 - 26 July, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 6 issues were created.
Of these, 3 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #310 [Bump material from 1.2.0-alpha06 to 1.3.0-alpha02](https://github.com/FultonBrowne/Ara-android/pull/310), by [dependabot-preview[bot]](https:/

[2020-07-29 18:25] #300 closed

[2020-07-29 18:25] #304 closed

[2020-07-29 18:25] #306 closed

[2020-07-29 18:25] #313 closed

[2020-08-02 11:58] weekly-digest[bot] opened #319 "Weekly Digest (26 July, 2020 - 2 August, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 5 issues were created.
Of these, 2 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #318 [Bump libdeepspeech from 0.7.4 to 0.8.0](https://github.com/FultonBrowne/Ara-android/pull/318), by [dependabot-preview[bot]](https://github.com

[2020-08-09 11:58] weekly-digest[bot] opened #321 "Weekly Digest (2 August, 2020 - 9 August, 2020)"
Here's the **Weekly Digest** for [*FultonBrowne/Ara-android*](https://github.com/FultonBrowne/Ara-android):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #320 [Bump ui-tooling from 0.1.0-dev10 to 0.1.0-dev16](https://github.com/FultonBrowne/Ara-android/pull/320), by [dependabot-preview[bot]](https://github.com/apps/dependabot-preview)

 - - -
# PULL

[2020-08-18 15:18] #321 closed

[2020-08-18 15:19] FultonBrowne commented on #294
And done

[2020-08-18 15:19] #294 closed

[2020-08-18 15:20] FultonBrowne commented on #155
@IzzySoft I was able to get stuff on trusted maven repos (I think). is there a copy of that scanning bot I could use to test it on my machine?

[2020-08-18 16:10] licaon-kter commented on #155
Clone fdroidserver (See f-droid.org docs for deps and stuff ), run `fdroid import --url thisrepo; fdroid scanner --verbose appid`  :)

[2020-08-18 19:17] FultonBrowne commented on #155
thanks @licaon-kter will do :+1:

[2020-08-18 20:51] FultonBrowne commented on #155
@licaon-kter  @IzzySoft  my current commit looks clean I'll ping you when I am ready to release

[2020-08-20 18:30] Serpent27 opened #337 "App crashes upon open"
**Describe the bug**
Ara crashes almost immediately upon opening. It manages to request permissions and open the login page before crashing.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. It crashes

**Expected behavior**
I expected it to, you know, launch the app...

**Screenshots**
![Screenshot_20200820-124323](https://user-images.githubusercontent.com/66246604/90810490-92

[2020-08-20 19:39] Serpent27 commented on #337
#### I recorded video of the issue
https://anonfiles.com/HbU6g4Oaob/2020_08_20_14_09_39_mp4

[2020-08-20 19:42] Serpent27 opened #338 "Login page "register" action never completes"
**Describe the bug**
Creating an account

**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. Create account
3. Wait for it to never finish

**Video of issue**
https://anonfiles.com/P3V1gaOco0/2020_08_20_14_10_26_mp4

**Device used:**
![image](https://user-images.githubusercontent.com/66246604/90817277-14c17180-e31d-11ea-89c6-6aaf282076fc.png)

[2020-08-24 17:24] FultonBrowne commented on #337
Hey @Serpent27 - thanks for reporting - I belive this is a bug isolated to android 8 and 9 it will be fixed in an update in 2ish weeks. for now please manually grant calendar permissions to ara. if tat does not fix it I'll have to get to my desktop, spin up an emulator and track it down.

-- thanks for reporting, Fulton

[2020-08-24 17:24] FultonBrowne commented on #337
Hey @Serpent27 - thanks for reporting - I belive this is a bug isolated to android 8 and 9 it will be fixed in an update in 2ish weeks. for now please manually grant calendar permissions to ara. if tat does not fix it I'll have to get to my desktop, spin up an emulator and track it down.

-- thanks for reporting, Fulton

[2020-08-24 17:24] FultonBrowne commented on #337
Hey @Serpent27 - thanks for reporting - I belive this is a bug isolated to android 8 and 9 it will be fixed in an update in 2ish weeks. for now please manually grant calendar permissions to ara. if tat does not fix it I'll have to get to my desktop, spin up an emulator and track it down.

-- thanks for reporting, Fulton

[2020-08-24 17:24] FultonBrowne commented on #337
Hey @Serpent27 - thanks for reporting - I belive this is a bug isolated to android 8 and 9 it will be fixed in an update in 2ish weeks. for now please manually grant calendar permissions to ara. if tat does not fix it I'll have to get to my desktop, spin up an emulator and track it down.

-- thanks for reporting, Fulton

[2020-08-24 17:24] FultonBrowne commented on #337
Hey @Serpent27 - thanks for reporting - I belive this is a bug isolated to android 8 and 9 it will be fixed in an update in 2ish weeks. for now please manually grant calendar permissions to ara. if tat does not fix it I'll have to get to my desktop, spin up an emulator and track it down.

-- thanks for reporting, Fulton

[2020-08-24 17:24] FultonBrowne commented on #337
Hey @Serpent27 - thanks for reporting - I belive this is a bug isolated to android 8 and 9 it will be fixed in an update in 2ish weeks. for now please manually grant calendar permissions to ara. if tat does not fix it I'll have to get to my desktop, spin up an emulator and track it down.

-- thanks for reporting, Fulton

[2020-08-24 17:24] FultonBrowne commented on #337
Hey @Serpent27 - thanks for reporting - I belive this is a bug isolated to android 8 and 9 it will be fixed in an update in 2ish weeks. for now please manually grant calendar permissions to ara. if tat does not fix it I'll have to get to my desktop, spin up an emulator and track it down.

-- thanks for reporting, Fulton

[2020-08-24 17:24] FultonBrowne commented on #337
Hey @Serpent27 - thanks for reporting - I belive this is a bug isolated to android 8 and 9 it will be fixed in an update in 2ish weeks. for now please manually grant calendar permissions to ara. if tat does not fix it I'll have to get to my desktop, spin up an emulator and track it down.

-- thanks for reporting, Fulton

[2020-08-24 17:24] FultonBrowne commented on #337
Hey @Serpent27 - thanks for reporting - I belive this is a bug isolated to android 8 and 9 it will be fixed in an update in 2ish weeks. for now please manually grant calendar permissions to ara. if tat does not fix it I'll have to get to my desktop, spin up an emulator and track it down.

-- thanks for reporting, Fulton

[2020-08-24 17:24] FultonBrowne commented on #337
Hey @Serpent27 - thanks for reporting - I belive this is a bug isolated to android 8 and 9 it will be fixed in an update in 2ish weeks. for now please manually grant calendar permissions to ara. if tat does not fix it I'll have to get to my desktop, spin up an emulator and track it down.

-- thanks for reporting, Fulton

[2020-08-24 17:24] FultonBrowne commented on #337
Hey @Serpent27 - thanks for reporting - I belive this is a bug isolated to android 8 and 9 it will be fixed in an update in 2ish weeks. for now please manually grant calendar permissions to ara. if tat does not fix it I'll have to get to my desktop, spin up an emulator and track it down.

-- thanks for reporting, Fulton

[2020-08-24 17:45] Serpent27 commented on #338
Since this issue appears to be a result of [issue #337](https://github.com/FultonBrowne/Ara-android/issues/337) I'm closing this issue.

[2020-08-24 17:45] #338 closed

[2020-08-24 17:46] Serpent27 commented on #337
Manually granting the permission seems to have worked. In the meantime I'm leaving this issue open awaiting the official fix.

[2020-08-24 18:14] Serpent27 opened #342 "App crashes when using voice"
Ara seems to crash when I try to use voice within the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Ara
2. Click the microphone icon
3. Speak (the phrase I used is "Hello, this is a test")
4. See error

**Screenshots**
I attempted to record video of the issue, but recording seems to affect the issue.

**Device used:**
- Device: The same as with my other issues.

**Additional cont

[2020-08-27 23:00] FultonBrowne commented on #342
Try doing a search via the search bar an the main page, does it crash?

[2020-08-28 06:28] Serpent27 commented on #337
The issue has reappeared. I have sent a bug report via Google Play... It seems manually granting permission no longer fixes the issue.

[2020-08-28 06:30] Serpent27 commented on #342
I can't check (issue [#337](https://github.com/FultonBrowne/Ara-android/issues/337) seems to be back).

[2020-08-28 17:05] FultonBrowne commented on #342
@Serpent27 this is very strange - I can't reproduce this bug on my phone at all - I'll research it further

[2020-08-28 23:51] Serpent27 commented on #337
After further analysis the issue seems to not be permissions at all... Ara works when I use my VPN but not without it. I expect this is because my tablet's internet connection uses an HTTP proxy that Ara doesn't acknowledge.

[2020-10-02 23:24] FultonBrowne opened #359 "Ara server is off"
Due to money reasons ara server has been turned off.